<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href='/static/styles.css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp-URL</title>

</head>

<body>
  <%- include('partials/_header') %> 
  <br><br>
  <div class="center">
      <div class="card-body">
        <h5 class="card-title header">TinyURL for: <span class='small-text'><%= longURL %></span></h5>
        <p class="card-text header">Short URL: <a class='small-text' href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
  </div>
  <br><br>
  <div class="center">
    <h1 class="card-title header">Edit</h1>
    <form class="form-inline" style="display: inline-block" action="/urls/<%= shortURL %>" method="POST"> 
      <div class="form-group mb-2">
        <label for="longURL" class='header'>Enter A New URL:</label>
        <input class="form-control left-text" type="text" name="longURL" placeholder="http://" style='width: 300px'>
        <button type="submit" class="btn btn-primary header">Update</button>
      </div>
    </form>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style='text-align: center; padding-left: 100px'>Number of Visits</th>
        <th scope="col" style='text-align: center; padding-left: 150px; padding-right: 150px'>Unique Visits</th>
        <th scope="col" style='text-align: center; padding-right: 100px'>Last Visited</th>
      </tr>
    </thead>
    <tbody>
      <% if (visits) { %>
        <tr>
          <td style='text-align: center; padding-left: 25px'><%= visits.views %></td>
          <td style='text-align: center'><%= visits.uniqueViews.length %></td>
          <td style='text-align: center; padding-right: 25px'><%= visits.date %></td>
        </tr>
    <% } %>
    </tbody>
  </table>
  <br>
  <h3 class='header' style='text-align: center'>Visitor History</h3>
  <table class="table" style='width: 110%'>
    <thead>
      <tr style='text-align: center'>
        <th scope="col" style='padding-left: 100px'>Visitor ID</th>
        <th scope="col" style='padding-right: 100px'>Date Visited</th>
      </tr>
    </thead>
    <tbody>
      <% if (visits) { %>
        <% for (let view of visits.allVisits) { %>
          <tr style='text-align: center'>
            <td style='padding-left: 100px'><%= view.id %></td>
            <td style='padding-right: 100px'><%= view.date %></td>
          </tr>
        <% } %>
    <% } %>
    </tbody>
  </table>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>